UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_REST_URL=
OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4o-mini
NEXT_PUBLIC_OPENPANEL_CLIENT_ID=
RESEND_API_KEY=
RESEND_AUDIENCE_ID=